# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.env

# Logs
logs/

# Data Outputs
data/processed/
data/outputs/

# IDE
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db